:root {
  --main: #ffffff;
  --bg: #222222;
  --card: #ffffff;
  --hover: #72a7db;
  --accent: ;
  --text: #013328;
  --textbefore: #005c48;
  --textopp: #2f181b;
  --gap: 1rem;
  --max-width: 600px;
  --border: 1px solid #ccc;
}
* {
  margin: 0;
}
.Placeholder {
  width: 100%;
  background-color: gray;
  height: 250px;
}
/* START FOOTER */
.footerContainer {
  width: 100%;
  height: 350px;
  background-color: var(--text);
  bottom: 0;
  display: flex;
  flex-direction: column;
}
.footerTop {
  background-color: var(--text);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  height: 15%;
}
.footerTop .footerLink {
  font-size: 1.2rem;
  text-decoration: none;
  color: white;
}
.footerTop .footerLink:hover {
  text-decoration: underline;
}
.footerMiddle {
  background-color: var(--text);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 70%;
}
.footerMiddle .footerMiddle0 {
  flex: 3.5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  padding: 2rem 2rem 2rem 2rem;
}
.footerMiddle .footerMiddle0 img {
  width: 20px;
  height: 20px;
}
.footerMiddle .footerMiddle0 .footerFrayedLogo {
  width: 33.3%;
  height: auto;
}
.footerMiddle .footerMiddle0 .socialLinksContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 0.6rem;
}
.footerSocialIcon {
  text-decoration: none;
  color: white;
  display: inline-block;
  transition: color 0.3s ease, transform 0.3s ease;
}
.footerSocialIcon:hover {
  transform: scale(1.1);
}
.footerMiddle .footerMiddle0 form {
  display: flex;
  width: 50%;
  border: #757575 1px solid;
  height: 3rem;
}
.footerMiddle .footerMiddle0 .inputEmail {
  flex: 8;
  padding: 0 0 0 1rem;
  border: none;
}
.footerMiddle .footerMiddle0 .inputSubscribe {
  flex: 4;
  padding: 0;
  border: none;
  color: white;
  background-color: var(--text);
}
.footerMiddle .footerHeader {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: white;
  text-decoration: none;
}
.footerMiddle .footerText {
  font-size: 1rem;
  margin-bottom: 0.3rem;
  color: white;
}
.footerMiddle .footerMiddle1 {
  flex: 2;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  padding: 2rem 2rem 2rem 2rem;
  text-decoration: none;
}
.footerMiddle .footerMiddle2 {
  flex: 2;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  padding: 2rem 2rem 2rem 2rem;
  text-decoration: none;
}
.footerBottom {
  background-color: #013328;
  color: rgb(219, 219, 219);
  display: flex;
  padding: 0 2rem 0 2rem;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 15%;
  box-sizing: border-box;
}
.footerAccordianContainer {
  display: none;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 200px;
  bottom: 0;
  background-color: var(--text);
  color: white;
  z-index: 9;
  transform: translateY(2px);
}
.footerAccordianContainer .footerDropdownContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75%;
  border-bottom: 2px solid #ccc;
}
.footerAccordianContainer .footerBtnContainer {
  color: white;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 1rem 0 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  align-items: center;
  flex: 1;
  cursor: pointer;
}
.footerAccordianDropdown {
  display: none;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-bottom: 1rem;
}
.footerAccordianDropdownActive {
  display: flex !important;
}
.footerAccordianSocials {
  display: flex;
  flex-direction: row;
  justify-content: center !important;
  align-items: center;
  gap: 1rem;
  flex: 1.5 !important;
  width: 100%;
}
.footerBottomAccordian {
  box-sizing: border-box;
  background-color: #013328;
  color: rgb(219, 219, 219);
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  gap: 1rem;
  bottom: 0;
}
@media (max-width: 768px) {
  .footerContainer {
    display: none;
  }
  .footerAccordianContainer {
    display: flex;
  }
}
/* END FOOTER */
