:root {
  --main: #ffffff;
  --bg: #222222;
  --card: #ffffff;
  --hover: #72a7db;
  --accent: ;
  --text: #013328;
  --textopp: #2f181b;
  --gap: 1rem;
  --max-width: 600px;
  --border: 1px solid #ccc;
}
html,
body {
  margin: 0;
  padding: 0;
}
.productFilterContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  top: 0;
  position: sticky;
  width: 100%;
  height: 50px;
  background-color: white;
  color: var(--text);
  box-sizing: border-box;
}
.productClasses {
  display: flex;
  flex-direction: row;
  width: 80%;
  gap: 1rem;
  margin-left: 2rem;
}
.productClasses a {
  font-size: 2rem;
  color: var(--text);
  text-decoration: none;
}
.productFilters {
}
.productFilterButton {
}
