* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}

:root {
  --main: #ffffff;
  --bg: #222222;
  --card: #ffffff;
  --hover: #72a7db;
  --accent: ;
  --text: #013328;
  --textopp: #2f181b;
  --gap: 1rem;
  --max-width: 600px;
  --border: 1px solid #ccc;
}

.gridContainer {
  display: grid;
  grid-template-columns: 3fr 2fr;
}

.div1.image-gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  background-color: white;
  padding: 1rem;
}

.div1 .imgContainer {
  margin: 0;
  padding: 0;
  width: 99%;
  aspect-ratio: 1/1;
}
.div1 .imgContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.productInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: white;
  padding: 4rem;
  color: var(--text);
}
.productTags {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-bottom: 0.5rem;
}
.tag {
  background-color: rgb(236, 236, 236);
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
  border-radius: 3px;
}
.productInfo h1 {
  font-size: 2.4rem;
  font-weight: 400;
  margin-bottom: 2rem;
}
.productInfo p {
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 2rem;
}
@media (max-width: 768px) {
  .gridContainer {
    grid-template-columns: 1fr;
  }
}
