:root {
  --main: #ffffff;
  --bg: #222222;
  --card: #ffffff;
  --hover: #72a7db;
  --accent: ;
  --text: #013328;
  --textopp: #2f181b;
  --gap: 1rem;
  --max-width: 600px;
  --border: 1px solid #ccc;
}
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.profileMenuList {
  display: flex;
  position: fixed;
  height: 100%;
  width: 16%;
  flex-direction: column;
  padding: 6rem 0rem 0rem 0rem;
  background-color: #ccc;
}
.menu {
  font-size: 1.2rem;
  color: var(--text);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #ccc;
  padding: 1rem 0 1rem 0;
}
.menu:hover {
  background-color: #adadad;
}
