:root {
  --main: #ffffff;
  --bg: #222222;
  --card: #ffffff;
  --hover: #72a7db;
  --accent: ;
  --text: #013328;
  --textopp: #2f181b;
  --gap: 1rem;
  --max-width: 600px;
  --border: 1px solid #ccc;
}
html,
body {
  margin: 0;
  padding: 0;
}
.landingPage {
  width: 100%;
  height: 200px;
  background-color: rgb(219, 112, 112);
}
.footerContainer {
  width: 100%;
  height: 400px;
  background-color: var(--text);
  bottom: 0;
  display: flex;
  flex-direction: column;
}
.footerTop {
  background-color: #7f7f7f;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  height: 15%;
}
.footerTop .footerLink {
  font-size: 1.2rem;
  text-decoration: none;
  color: white;
}
.footerTop .footerLink:hover {
  text-decoration: underline;
}
.footerMiddle {
  background-color: #007057;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 70%;
}
.footerMiddle .footerLogo {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  background-color: #72a7db;
  font-size: 2.5rem;
  color: white;
}
.footerMiddle .footerAbout {
  width: 30%;
  display: flex;
  background-color: bisque;
}
.footerMiddle .footerContact {
  width: 30%;
  display: flex;
  background-color: darkslateblue;
}
.footerBottom {
  background-color: #013328;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 15%;
}
