:root {
  --main: #ffffff;
  --bg: #222222;
  --card: #ffffff;
  --hover: #72a7db;
  --accent: ;
  --text: #013328;
  --textopp: #2f181b;
  --gap: 1rem;
  --max-width: 600px;
  --border: 1px solid #ccc;
}
html,
body {
  margin: 0;
  padding: 0;
}
.landingPage {
  width: 100%;
  height: 200px;
  background-color: rgb(219, 112, 112);
}
/* START FOOTER */
.footerContainer {
  width: 100%;
  height: 400px;
  background-color: var(--text);
  bottom: 0;
  display: flex;
  flex-direction: column;
}
.footerTop {
  background-color: #7f7f7f;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  height: 15%;
}
.footerTop .footerLink {
  font-size: 1.2rem;
  text-decoration: none;
  color: white;
}
.footerTop .footerLink:hover {
  text-decoration: underline;
}
.footerMiddle {
  background-color: #007057;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 70%;
}
.footerMiddle .footerMiddle0 {
  flex: 3.5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #72a7db;
  color: white;
  padding: 2rem 2rem 2rem 2rem;
}
.footerMiddle .footerMiddle0 img {
  width: 33.3%;
  height: auto;
}
.footerMiddle .footerMiddle0 .socialLinksContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 0.6rem;
}
.footerSocialIcon {
  text-decoration: none;
  color: white;
  display: inline-block;
  transition: color 0.3s ease, transform 0.3s ease;
}
.footerSocialIcon:hover {
  transform: scale(1.1);
}
.footerMiddle .footerMiddle0 form {
  display: flex;
  width: 50%;
  border: #757575 1px solid;
  height: 3rem;
}
.footerMiddle .footerMiddle0 .inputEmail {
  flex: 8;
  padding: 0 0 0 1rem;
  border: none;
}
.footerMiddle .footerMiddle0 .inputSubscribe {
  flex: 3;
  padding: 0;
  border: none;
  color: white;
  background-color: var(--text);
}
.footerMiddle .footerAbout {
  flex: 2;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: bisque;
}
.footerMiddle .footerContact {
  flex: 2;
  display: flex;
  background-color: darkslateblue;
}
.footerBottom {
  background-color: #013328;
  color: rgb(219, 219, 219);
  display: flex;
  padding: 0 2rem 0 2rem;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 15%;
  box-sizing: border-box;
}
/* END FOOTER */
